.nav-area{
	height: 65px;
	z-index: 1;
}

nav{
	/*background-color: #2dd8e0;*/
	-webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	color: white;
	line-height: 3em;
}

.navbar-light .navbar-nav .nav-item a {
    color: white;
    font-weight: 300px;
}

.navbar-light .navbar-brand {
	color: white;
	font-size: 35px;
	font-weight: 500px;
}

.navbar-light .navbar-nav .active>.nav-link {
	color: white;
}

.banner-area{
	background: url(../img/backGround.jpg);
	background-position: center;
 	background-size: cover;
 	position: relative;
 	height: 100%;
}

.banner-area::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
}

.banner-table{
    display: table;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    margin-top: -20%;
}

.banner-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

section.intro{
	margin: 25%;
}

.welcome-text {
	margin: 5%;
}
.welcome-text h3 {
    color: #fff;
    text-transform: uppercase;
}

.intro h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}

.section-padding {
    padding: 60px 0;
}

.about-text-left {
    margin-top: 90px;
}

.about-text-left h2 {
    font-weight: 700;
    font-size: 36px;
    color: #212121;
    line-height: 1;
    text-align: right;
    margin-bottom: 5px;
}

.about-text-left h3 {
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    margin-bottom: 18px;
}

.about-text-left p {
    text-align: right;
    font-size: 15px;
    color: #222;
    margin-bottom: 50px;
}

.about-text-left a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    background: #E91E63;
    padding: 15px;
    float: right;
    text-decoration: none;
}

.about-text-right {
    margin-top: 90px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-weight: 600;
}

.skillbar {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
    display: block;
}

.skillbar .skillbar-title {
    display: inline-block;
    vertical-align: middle;
}

.skillbar .skillbar-percent {
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.skillbar-bar {
    background-color: #ededed;
    width: 100%;
    height: 5px;
}


/*
* Services 
*/



.scrolling-wrapper{
    overflow-x: auto;
    width: -webkit-fill-available;
}

.card-block{
    height: 150px;
    /*width: 200px;*/
    text-align: center;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}

.card-block:hover {
    transform: translateY(-5px);
    box-shadow: none;
}

.card-block>div {
    font-size: 100%;
    font-weight: bolder;
    display: inline-block;
    word-break: break-all; /* optional */
}

.card-1{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-2{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-3{
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}

.card-4{
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.card-5{
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

.card-6{
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-7{
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
}

.card-8{
    background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

.card-9{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.card-10{
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}

